* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px;
  background-color: black;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.titulo {
  color: white;
  text-align: center;
  padding: 1rem; 
}

p {
  color: white;
}

h3 {
  color: white;
}

.card img {
  max-height: 170px;
}
